<footer>
    <div class="py-8">
        <div class="footer-info text-center">
            <p class="text-white font-bold text-xl mb-3">Find me on my socials</p>
            <a href="https://github.com/algren123/" target="_blank"><i class="fab fa-github fa-3x text-white w-50 m-2"></i></a>
            <a href="https://www.linkedin.com/in/algren-pauna/" target="_blank"><i class="fab fa-linkedin fa-3x text-white m-2"></i></a>
            <a href="https://www.instagram.com/vlgren/" target="_blank"><i class="fab fa-instagram fa-3x text-white m-2"></i></a>
            <p class="text-gray-400 mt-5 text-l font-bold">© 2021 Algren Pauna</p>
        </div>
    </div>
</footer>