@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: none;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 24px;
  font-weight: bold;

  @media only screen and (max-width: 880px) {
    font-size: 14px;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #34d399;
}

.mat-tab-header {
  max-width: 600px;
  margin: 24px;
}

.mat-tab-labels {
  @media only screen and (max-width: 880px) {
    width: 300px;
  }
}

.mat-tab-group {
  align-items: center;
}
